SERVICE_NAME=core-gin
ENVIRONMENT=local
LOG_LEVEL=debug

SERVER_PORT=4040

DB_USER=user
DB_PASS=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gin-core

OTEL_ENABLE=true
OTEL_ENDPOINT=localhost:4317
OTEL_INSECURE_MODE=true
OTEL_API_KEY=

DEBUG=true

TIMEZONE="Asia/Jakarta"